{% extends 'baseprofile.html.twig' %}

{% block title %}New Candidature
{% endblock %}

{% block body %}
	<div class="form-maj">
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
		<div class="container personnelle">
			<h1 class="text-center mb-5">Dépot de ma candidature</h1>
			{{ form_start(form) }}
			<div class="form-row">
				<div class="col">
					{{form_row(form.nom)}}
				</div>
				<div class="col">
					{{form_row(form.prenom)}}
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					{{form_row(form.imageFile)}}
				</div>
				<div class="col">
					{{form_row(form.imageProgrammeFile)}}
				</div>
			</div>
			<div class="form-row align-items-center">
				<button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
