{% extends 'base.html.twig' %}

{% block title %}Bureau index{% endblock %}

{% block body %}
    <h1>Bureau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mandat</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bureau in bureaus %}
            <tr>
                <td>{{ bureau.id }}</td>
                <td>{{ bureau.mandat }}</td>
                <td>{{ bureau.createdAt ? bureau.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bureau.updatedAt ? bureau.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('bureau_show', {'id': bureau.id}) }}">show</a>
                    <a href="{{ path('bureau_edit', {'id': bureau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bureau_new') }}">Create new</a>
{% endblock %}
