<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Nous contacter</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{ form_start(form3) }}
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form_row(form3.nom) }}
					</div>
					<div class="form-group col-md-6">
						{{ form_row(form3.numeroTel) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_row(form3.email) }}
				</div>
				<div class="form-group">
					{{ form_row(form3.subject) }}
				</div>
				<div class="form-group">
					{{ form_row(form3.message) }}
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Envoyer</button>
				{{ form_end(form3) }}
			</div>
		</div>
	</div>
</div>
