{% extends 'baseAdmin.html.twig' %}

{% block title %}Membre index
{% endblock %}

{% block body %}
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Administration</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Liste complete d'AJEUTCHIM</li>
							</ol>
						</div>
						<div class="col-sm-3">
							<a class="btn btn-primary" href="{{ path('membre_new') }}">Ajouter un membre</a>

						</div>

					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h4 class="mt-0 header-title">Liste des membres</h4>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

											<thead class="thead-dark">
												<tr>
													<th scope="col">Image</th>
													<th scope="col">Roles</th>
													<th scope="col">actions</th>
												</tr>
											</thead>
											<tbody>
												{% for user in users %}
													{% if app.user.email ==  user.email  %}
														{% else %}
															<tr>
																<td>
																	{% if user.imageName %}
																		<img src="{{ vich_uploader_asset(user, 'imageFile')}}" width="100" height="75" alt="{{ user.pseudo }}"/>
																	{% else %}
																		<img src="{{asset('assets/images/users/user-4.jpg')}}" width="100" height="75" alt="{{ user.pseudo }}"/>
																	{% endif %}
																</td>
																<td>
																	{% for role  in user.roles %}
																		{% if role == "ROLE_PRESI" %}
																			Président
																		{% elseif role == "ROLE_VICE" %}
																			Vice président
																		{% elseif role == "ROLE_SECRE" %}
																			Secrétaire générale
																		{% elseif role == "ROLE_SECREA" %}
																			Secrétaire générale adjoint
																		{% elseif role == "ROLE_SECREO" %}
																			Secrétaire chargé a l'organisation
																		{% elseif role == "ROLE_SECREOA1" %}
																			Secrétaire d'organisation adjoint 1
																		{% elseif role == "ROLE_SECREOA2" %}
																			Secrétaire d'organisation adjoint 2
																		{% elseif role == "ROLE_TRESO" %}
																			Trésorier
																		{% elseif role == "ROLE_TRESOA" %}
																			Trésorier adjoint
																		{% elseif role == "ROLE_SCAE" %}
																			Secrétaire chargé aux affaires exterieures
																		{% elseif role == "ROLE_SCAEA" %}
																			Secrétaire chargé aux affaires exterieures adjoint
																		{% elseif role == "ROLE_SCIC" %}
																			Secrétaire chargé a l'information et à la communication
																		{% elseif role == "ROLE_SCICA" %}
																			Secrétaire chargé a l'information et à la communication adjoint
																		{% elseif role == "ROLE_SCAS" %}
																			Secrétaire chargé aux affaires sociales
																		{% elseif role == "ROLE_SCASA" %}
																			Secrétaire chargé aux affaires sociales adjoint
																		{% elseif role == "ROLE_SCAC" %}
																			Secrétaire chargé aux affaires culturelles
																		{% elseif role == "ROLE_SCACA1" %}
																			Secrétaire chargé aux affaires culturelles adjoint 1
																		{% elseif role == "ROLE_SCACA2" %}
																			Secrétaire chargé aux affaires culturelles adjoint 2
																		{% elseif role == "ROLE_RF" %}
																			Responsable des femmes
																		{% elseif role == "ROLE_RFA1" %}
																			Responsable des femmes adjoint 1
																		{% elseif role == "ROLE_RFA2" %}
																			Responsable des femmes adjoint 2
																		{% elseif role == "ROLE_MS" %}
																			Maître de séance
																		{% elseif role == "ROLE_MSA" %}
																			Maître de séance adjoint
																		{% elseif role == "ROLE_CC" %}
																			Commissaire au compte
																		{% elseif role == "ROLE_CCA" %}
																			Commissaire au compte adjoint
																		{% elseif role == "ROLE_SCRJR" %}
																			Secrétaire chargé de la relation avec la jeunesse rurale
																		{% elseif role == "ROLE_SCRJRA" %}
																			Secrétaire chargé de la relation avec la jeunesse rurale adjoint
																		{% elseif role == "ROLE_SCE" %}
																			Secrétaire chargé des études
																		{% elseif role == "ROLE_SCEA" %}
																			Secrétaire chargé des études adjoint
																		{% elseif role == "ROLE_SCEN" %}
																			Secrétaire chargé de l'entrepreneuriat
																		{% elseif role == "ROLE_SCENA" %}
																			Secrétaire chargé de l'entrepreneuriat adjoint
																		{% elseif role == "ROLE_CONSE" %}
																			Conseillers
																		{% elseif role == "ROLE_PAR" %}
																			Parraineur
																		{% elseif role == "ROLE_EDIT" %}
																			Editeur
																		{% elseif role == "ROLE_USER" %}
																			{% if user.roles | length == 1  %}
																				Membre
																			{% else %}
																				Membre,
																			{% endif %}
																		{% elseif role == "ROLE_ADMIN" %}
																			Administrateur
																		{% endif %}
																	{% endfor %}
																</td>
																<td>
																	<a href="{{path('admin_utilisateur_edit',{'id':user.id})}}" class="btn btn-info">Modifier</a>
																</td>
															</tr>
													{% endif %}
												{% else %}
													<tr>
														<td colspan="11">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>

									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
