<!--  info panel-->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-10 info-panel">
			<div class="row">
				{% for bureau in bureaux %}
					{% if bureau.postAjeutchim.name == "Président" %}
						<div class="col-lg">
							{% if bureau.president.imageName %}
								<img src="{{ vich_uploader_asset(bureau.president, 'imageFile')}}" class="float-left rounded-circle" alt=""/>

							{% else %}
								<img src="{{asset('images/avatar.jpeg')}}" class="float-left rounded-circle" alt=""/>

							{% endif %}
							<h4>Président</h4>
							<p>{{ bureau.membre.nom }}
								{{ bureau.membre.prenom }}</p>
						</div>
					{% elseif bureau.postAjeutchim.name == "Vice-présidente" %}
						<div class="col-lg">
							<img src="{{asset('images/avatar.jpeg')}}" alt="employee" class="float-left"/>
							<h4>Vice-présidente</h4>
							<p>{{ bureau.membre.nom }}
								{{ bureau.membre.prenom }}</p>
						</div>
					{% elseif bureau.postAjeutchim.name == "Secrétaire général" %}
						<div class="col-lg">
							<img src="{{asset('images/avatar.jpeg')}}" alt="employee" class="float-left"/>
							<h4>Secrétaire général</h4>
							<p>{{ bureau.membre.nom }}
								{{ bureau.membre.prenom }}</p>
						</div>
						{% else %}
					{% endif %}
				{% endfor %}


			</div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12  mt-3">
						<div class="row">
							<div class="col">
								{% set activ = 0 %}
								{% for vote in votes %}
									{% if vote.etat == 1 %}
										{% set activ = 1 %}
										{% else %}
									{% endif %}
								{% endfor %}
								{% if activ == 1 %}
									<a href="#vote" class="button1 " role="button" data-toggle="collapse">Voter</a>
									{% else %}
								{% endif %}
							</div>
							<div class="col-6">
								<a href="#adhession" class="button1" role="button" data-toggle="collapse">Demande d'adhésion</a>
							</div>
							<div class="col">

								{% set activee = 0 %}
								{% for desactiver in desactiver %}
									{% if desactiver.etat == 1 %}
										{% set activee = 1 %}
										{% else %}
									{% endif %}
								{% endfor %}
								{% if activee == 1 %}
									<a href="{{path('app_register')}}" class="button1" role="button" data-toggle="collapse">S'inscrire</a>
									{% else %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- fin info panel-->
