<div class="sidebar">
	<div class="nav mb-4">
		<div class="avatar">
			{% if app.user.imageName %}
				<img src="{{ vich_uploader_asset(app.user , 'imageFile')}}" alt="image de {{ app.user.pseudo }}" class="rounded-circle"/>
			{% else %}
				<img src="{{asset('images/avatar.jpeg')}}" alt="{{ app.user.pseudo }}" class="rounded-circle"/>
			{% endif %}
		</div>
		<div class="votre-profil mt-2 rounded">
			<h6 class="text-center mt-2">Votre profile</h6>
		</div>
		<ul class="nav flex-column mt-5">
			<li class="nav-item">
				<a class="nav-link {{set_active_route('app_profile')}} " href="{{path('app_profile')}}"><img src="{{asset('images/order.png')}}" class="img-circle" alt="">
					Profile</a>
			</li>
			{% set activ = 0 %}
			{% for vote in votes %}
				{% if vote.etat == 1 %}
					{% set activ = 1 %}
					{% else %}
				{% endif %}
			{% endfor %}
			{% if activ == 1 %}
				<li class="nav-item">
					<a class="nav-link {{set_active_route('candidat_vote')}} " href="{{path('candidat_vote')}}"><img src="{{asset('images/medical-record.png')}}" class="img-circle" alt="">
						Voter</a>
				</li>
				{% else %}
			{% endif %}
			{% set activeet = 0 %}
			{% for ouverture in ouvertures %}
				{% if ouverture.etat == 1 %}
					{% set activeet = 1 %}
					{% else %}
				{% endif %}
			{% endfor %}
			{% if activeet == 1 %}
				<li class="nav-item">
					<a class="nav-link {{set_active_route('candidature_new')}}" href="{{path('candidature_new')}}"><img src="{{asset('images/medical-record.png')}}" class="img-circle" alt="">
						Dépot candidature</a>
				</li>
				{% else %}
			{% endif %}
			<li class="nav-item">
				<a class="nav-link {{set_active_route('app_mescotisation')}}" href="{{path('app_mescotisation')}}"><img src="{{asset('images/order.png')}}" class="img-circle" alt="">
					Mes cotisation</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{set_active_route('app_bureau')}}" href="{{ path('app_bureau') }}"><img src="{{asset('images/order.png')}}" class="img-circle" alt="">
					Actuelle bureau</a>
			</li>

			<li class="nav-item">
				<a class="nav-link {{set_active_route('projet_new')}}" href="{{path('projet_new')}}"><img src="{{asset('images/monitor.png')}}" class="img-circle" alt="">
					Sugérer un projet
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{set_active_route('mes_projets')}}" href="{{path('mes_projets')}}"><img src="{{asset('images/medical-record.png')}}" class="img-circle" alt="">
					Mes projets</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin_index')}}"><img src="{{asset('images/monitor.png')}}" class="img-circle" alt="">
					Administration</a>
			</li>

		</ul>
		<ul class="nav flex-column sous-menu mt-5">
			<li class="nav-item">
				<a class="nav-link {{set_active_route('user_profile')}}" href="{{path('user_profile')}}"><img src="{{asset('images/edit.png')}}" class="img-circle" alt="">
					Mise à jour</a>
			</li>
			<li class="nav-item decon">
				<a class="nav-link" href="{{path('app_logout')}}"><img src="{{asset('images/logout.png')}}" class="img-circle" alt="">
					Déconnexion</a>
			</li>
		</ul>
	</div>
</div>
