{% extends 'base.html.twig' %}

{% block title %}Adhesion index{% endblock %}

{% block body %}
    <h1>Adhesion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adhesion in adhesions %}
            <tr>
                <td>{{ adhesion.id }}</td>
                <td>{{ adhesion.montant }}</td>
                <td>{{ adhesion.createdAt ? adhesion.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ adhesion.updatedAt ? adhesion.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('adhesion_show', {'id': adhesion.id}) }}">show</a>
                    <a href="{{ path('adhesion_edit', {'id': adhesion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adhesion_new') }}">Create new</a>
{% endblock %}
