{% extends 'base.html.twig' %}

{% block title %}Adhesion{% endblock %}

{% block body %}
    <h1>Adhesion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adhesion.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ adhesion.montant }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ adhesion.createdAt ? adhesion.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ adhesion.updatedAt ? adhesion.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adhesion_index') }}">back to list</a>

    <a href="{{ path('adhesion_edit', {'id': adhesion.id}) }}">edit</a>

    {{ include('adhesion/_delete_form.html.twig') }}
{% endblock %}
