{% extends 'base.html.twig' %}

{% block title %}Membre index
{% endblock %}

{% block body %}
	<h1>Membre index</h1>
	<a href="{{ path('membre_new') }}">Create new</a>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Identifiant Ajeutchim</th>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th scope="col">Contact</th>
				<th scope="col">Profession</th>
				<th scope="col">Année d'adhésion</th>
				<th scope="col">actions</th>
			</tr>
		</thead>
		<tbody>
			{% set i = 1 %}
			{% for membre in membres %}


				<tr {% if i == 1 %} class="table-primary" {% endif %}>

					<th scope="row" {% if i == 1 %} class="alert-primary" {% else %} {% endif %}>
						{{ membre.referenceAjeutchim }}
					</th>
					<td>{{ membre.nom }}</td>
					<td>{{ membre.prenom }}</td>
					<td>{{ membre.contact }}</td>
					<td>{{ membre.profession }}</td>
					<td>{{ membre.createdAt ? membre.createdAt|date('d-m-Y') : '' }}</td>
					<td>
						<a href="{{ path('membre_show', {'id': membre.id}) }}">show</a>
						<a href="{{ path('membre_edit', {'id': membre.id}) }}">edit</a>
					</td>
				</tr>
				{% set i = 0 %}

			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
