{% extends 'base.html.twig' %}

{% block title %}AnnuelleCotisation index{% endblock %}

{% block body %}
    <h1>AnnuelleCotisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annuelle_cotisation in annuelle_cotisations %}
            <tr>
                <td>{{ annuelle_cotisation.id }}</td>
                <td>{{ annuelle_cotisation.montant }}</td>
                <td>{{ annuelle_cotisation.createdAt ? annuelle_cotisation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annuelle_cotisation.updatedAt ? annuelle_cotisation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('annuelle_cotisation_show', {'id': annuelle_cotisation.id}) }}">show</a>
                    <a href="{{ path('annuelle_cotisation_edit', {'id': annuelle_cotisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annuelle_cotisation_new') }}">Create new</a>
{% endblock %}
