{% extends 'base.html.twig' %}

{% block title %}MediaUtilisateur{% endblock %}

{% block body %}
    <h1>MediaUtilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media_utilisateur.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ media_utilisateur.imageName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ media_utilisateur.createdAt ? media_utilisateur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ media_utilisateur.updatedAt ? media_utilisateur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('media_utilisateur_index') }}">back to list</a>

    <a href="{{ path('media_utilisateur_edit', {'id': media_utilisateur.id}) }}">edit</a>

    {{ include('media_utilisateur/_delete_form.html.twig') }}
{% endblock %}
