{% extends "base.html.twig" %}
{% block title %}Organigramme | AJEUTCHIM
{% endblock %}
{% block body %}
	<!--  main -->
	<section id="experience">
		<div class="container mt-3">
			<div class="white-divider"></div>
			<div class="heading">
				<h2>
					Organes et fonctionnement d'AJEUTCHIM
				</h2>
			</div>
			<ul class="timeline row">
				{% for fonction in fonctions %}
					{% if  fonction.id % 2 == 0 %}
						<li class="organigrame ">
							<div class="timeline-badge">
								<i class="fas fa-briefcase"></i>
							</div>
							<div class="timeline-panel-container-inverted ">
								<div class="timeline-panel ">
									<div class="timeline-heading">
										<h4 class="text-center">{{fonction.titre}}</h4>
									</small>
								</p>
							</div>
							<div class="timeline-body">
								{{fonction.contenue| raw}}
							</div>
						</li>

					{% else %}
						<li class="organigrame">
							<div class="timeline-badge">
								<i class="fas fa-briefcase"></i>
							</div>
							<div class="timeline-panel-container">
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="text-center">{{fonction.titre}}</h4>
									</p>
								</div>
								<div class="timeline-body">
									{{fonction.contenue| raw}}
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					{% do fonctions.setPageRange(3) %}
					{{knp_pagination_render(fonctions,'base/pagination.html.twig')}}
				</div>
			</div>
		</div>

	</section><!-- End main -->{% endblock %}
