{% extends 'base.html.twig' %}

{% block title %}Apropos index{% endblock %}

{% block body %}
    <h1>Apropos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenue</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apropo in apropos %}
            <tr>
                <td>{{ apropo.id }}</td>
                <td>{{ apropo.contenue }}</td>
                <td>{{ apropo.createdAt ? apropo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ apropo.updatedAt ? apropo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('apropos_show', {'id': apropo.id}) }}">show</a>
                    <a href="{{ path('apropos_edit', {'id': apropo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('apropos_new') }}">Create new</a>
{% endblock %}
