{% extends 'base.html.twig' %}

{% block title %}MembreConseil{% endblock %}

{% block body %}
    <h1>MembreConseil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre_conseil.id }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ membre_conseil.post }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ membre_conseil.createdAt ? membre_conseil.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ membre_conseil.updatedAt ? membre_conseil.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('membre_conseil_index') }}">back to list</a>

    <a href="{{ path('membre_conseil_edit', {'id': membre_conseil.id}) }}">edit</a>

    {{ include('membre_conseil/_delete_form.html.twig') }}
{% endblock %}
