{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Cotisation
{% endblock %}

{% block body %}
<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Mise a jour Produits</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Mise a jour Produits</li>
							</ol>
						</div>
						<div class="col-sm-6">
							<a class="btn btn-warning" href="{{ path('cotisation_index') }}">Voir la liste</a>
							{{ include('admin/cotisation/_delete_form.html.twig') }}


						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->
	{% if cotisation.resteMontant == 0 %}
		<h1>Attention
			{{cotisation.membre.nom}}
			{{cotisation.membre.prenom}}
			a soldé</h1>
		<h3>
			Si vous voulez modifier, veuillez entrer le montant qui lui est a payé
		</h3>
	{% else %}
		<p>
			il lui reste a paye
			<span class="text-primary">
				{{cotisation.resteMontant}}
			</span>
		</p>
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}

	{{ include('admin/cotisation/_form.html.twig', {'button_label': 'Update'}) }} 

	
<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>

{% endblock %}
