{% extends 'base.html.twig' %}

{% block title %}Cotisation index
{% endblock %}

{% block body %}
	<h1>Cotisation index</h1>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row mb-3">
		<div class="col-md-3">
			<a href="{{ path('cotisation_new') }}" class="btn btn-primary">Ajouter nouvelle</a>

		</div>
	</div>
	<div class="row mt-3 mb-3">
		<div class="col-md-3">
			<p>montant total cotisation :
				{{mont}}
			</p>
			<p>montant total adhesion:
				{{montantAdhesion}}
			</p>
			<p>montant en caisse:
				{{(mont + montantAdhesion) - (depenses + frais)}}
			</p>
		</div>
		<div class="col-md-3">
			<p>montant total Des depense :
				{{depenses + frais}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nom</th>
						<th scope="col">Prenom</th>
						<th scope="col">Montant total payé</th>
						<th scope="col">Montant restant</th>
						<th scope="col">Année cotisation</th>
						<th scope="col">Dernière operation</th>
						<th scope="col">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for cotisation in cotisations %}
						<tr {% if "now"| date("Y") == cotisation.annee |date('Y') and cotisation.resteMontant > 0 %} class="table-light" {% elseif "now"| date("Y") > cotisation.annee |date('Y') and cotisation.resteMontant > 0 %} class="table-danger" {% elseif "now"| date("Y") == cotisation.annee |date('Y') and cotisation.resteMontant == 0 %} class="table-success" {% elseif "now"| date("Y") > cotisation.annee |date('Y') and cotisation.resteMontant == 0 %} class="table-warning" {% else %} {% endif %}>
							<th scope="row">{{ cotisation.id }}</th>
							<th scope="row">{{ cotisation.membre.nom }}</th>
							<th scope="row">{{ cotisation.membre.prenom }}</th>
							<td>{{ cotisation.montantTotalPaye }}
								Fcfa</td>
							<td>{{ cotisation.resteMontant }}
								Fcfa</td>
							<td>{{ cotisation.annee |date('Y') }}</td>
							<td>{{ cotisation.updatedAt ? cotisation.updatedAt|date('d-m-Y à H:i') : '' }}</td>
							<td>
								{% if cotisation.neplus == 1 %}
									<span class="badge badge-success">Valider</span>
								{% else %}
									{% if cotisation.resteMontant == 0 %}
										<a href="{{ path('cotisation_confirme', {'id': cotisation.id}) }}" class="btn btn-warning">Valider</a>
									{% else %}
										<span class="badge badge-info">encour...</span>
									{% endif %}
									<a href="{{ path('cotisation_edit', {'id': cotisation.id}) }}" class="btn btn-primary">Modifier</a>

								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
