{% extends 'base.html.twig' %}

{% block title %}Versement index{% endblock %}

{% block body %}
    <h1>Versement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Objet</th>
                <th>Description</th>
                <th>Prenom</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for versement in versements %}
            <tr>
                <td>{{ versement.id }}</td>
                <td>{{ versement.montant }}</td>
                <td>{{ versement.objet }}</td>
                <td>{{ versement.description }}</td>
                <td>{{ versement.prenom }}</td>
                <td>{{ versement.createdAt ? versement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ versement.updatedAt ? versement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('versement_show', {'id': versement.id}) }}">show</a>
                    <a href="{{ path('versement_edit', {'id': versement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('versement_new') }}">Create new</a>
{% endblock %}
