{% extends 'baseAdmin.html.twig' %}

{% block title %}Resultat
{% endblock %}

{% block body %}
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
						{% for message in app.flashes('info') %}
							<div class="alert alert-info">
								{{ message }}
							</div>
						{% endfor %}
						{% for message in app.flashes('danger') %}
							<div class="alert alert-danger">
								{{ message }}
							</div>
						{% endfor %}
						{% for message in app.flashes('warning') %}
							<div class="alert alert-warning">
								{{ message }}
							</div>
						{% endfor %}
						<div class="col-sm-6">
							<h4 class="page-title">Administration</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Liste complete de Candidature</li>
							</ol>
						</div>
						<div class="col-sm-3">
							<a class="btn btn-primary" href="{{ path('candidature_new') }}">Ajouter un membre</a>

						</div>

					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h4 class="mt-0 header-title">Les resultats</h4>
									</div>
								</div>
								<div class="row">
									{% for candidat in candidats %}
										<div class="col">
											<div class="card">
												<img src="{{ vich_uploader_asset(candidat.candidature, 'imageFile')}}" class="card-img-top" alt="img"/>
												<div class="card-body">
													<div class="row">
														<div class="col">
															<h5 class="card-title">
																{{ candidat.nom }}
																{{ candidat.prenom }}
															</h5>
														</div>
														<div class="col">
															<h5>Voix obtenue
																<span class="h4">
																	{% if candidat.tour2 %}
																		{% if candidat.nombreVoix2 == null %}
																			0
																		{% else %}
																			{{ candidat.nombreVoix2 }}
																		{% endif %}

																	{% else %}
																		{% if candidat.nombreVoix == null %}
																			0
																		{% else %}
																			{{ candidat.nombreVoix }}
																		{% endif %}
																	{% endif %}
																</span>
															</h5>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
								<div class="row mb-3">
									<div class="col-md-6 offset-md-3">
										{% set var = 0 %}
										{% set var2 = 0 %}
										{% set var3 = 0 %}
										{% for candidat in candidats %}
											{% if candidat.etat %}
												{% set var = 1 %}
												{% else %}
											{% endif %}
											{% if candidat.nombreVoix2 == null  %}
												{% set var2 = 1 %}
											{% endif %}
											{% if candidat.fin %}
												{% set var3 = 1 %}
											{% endif %}
										{% endfor %}

										{% if var == 1 %}
											{% if var2 == 0 %}
												<a href="{{ path('candidat_etatvote') }}" class="btn btn-primary">Reouvert le vote</a>
												{% if public %}
													<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
													</a>
												{% else %}
													{% set acti = 0 %}
													{% for candidat in candidats %}
														{% if candidat.vuePublic == 1 %}
															{% set acti = 1 %}
														{% else %}
															{% set acti = 0 %}
														{% endif %}
													{% endfor %}
													{% if acti == 1 %}
														<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
														</a>
													{% else %}

														<a class="btn btn-success" href="{{ path('candidat_etatpublic') }}">Publier resultat
														</a>
													{% endif %}
												{% endif %}
											{% elseif var2 == 1 %}
												{% if public %}
													<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
													</a>
												{% else %}
													{% set acti = 0 %}
													{% for candidat in candidats %}
														{% if candidat.vuePublic == 1 %}
															{% set acti = 1 %}
														{% else %}
															{% set acti = 0 %}
														{% endif %}
													{% endfor %}
													{% if acti == 1 %}
														<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
														</a>
													{% else %}

														<a class="btn btn-success" href="{{ path('candidat_etatpublic') }}">Publier resultat
														</a>
													{% endif %}
												{% endif %}
											{% endif %}
										{% else %}

											{% if secondTour == "oui" %}
												{% if autrefdecission == "oui" %}
													{% if deci == 1 %}
														{% if public %}
															<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
															</a>
														{% else %}
															{% set acti = 0 %}
															{% for candidat in candidats %}
																{% if candidat.vuePublic == 1 %}
																	{% set acti = 1 %}
																{% else %}
																	{% set acti = 0 %}
																{% endif %}
															{% endfor %}
															{% if acti == 1 %}
																<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
																</a>
															{% else %}

																<a class="btn btn-success" href="{{ path('candidat_etatpublic') }}">Publier resultat
																</a>
															{% endif %}
														{% endif %}

													{% elseif deci == 2  %}
														<a class="btn btn-primary" href="{{ path('candidat_etatvotesecond') }}">Autre décision
														</a>
													{% endif %}
												{% else %}
													<a class="btn btn-primary" href="{{ path('candidat_etatvotesecond') }}">Second Tour
													</a>
												{% endif %}
											{% else %}
												{% if var3 == 1 %}
													{% if public %}
														<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
														</a>
													{% else %}
														{% set acti = 0 %}
														{% for candidat in candidats %}
															{% if candidat.vuePublic == 1 %}
																{% set acti = 1 %}
															{% else %}
																{% set acti = 0 %}
															{% endif %}
														{% endfor %}
														{% if acti == 1 %}
															<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
															</a>
														{% else %}

															<a class="btn btn-success" href="{{ path('candidat_etatpublic') }}">Publier resultat
															</a>
														{% endif %}
													{% endif %}
												{% else %}
													{% if public %}
														<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
														</a>
													{% else %}
														{% set acti = 0 %}
														{% for candidat in candidats %}
															{% if candidat.vuePublic == 1 %}
																{% set acti = 1 %}
															{% else %}
																{% set acti = 0 %}
															{% endif %}
														{% endfor %}
														{% if acti == 1 %}
															<a class="btn btn-warning" href="{{ path('candidat_fin_plublic') }}">Enlever au public
															</a>
														{% else %}

															<a class="btn btn-success" href="{{ path('candidat_etatpublic') }}">Publier resultat
															</a>
														{% endif %}
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
