{% extends 'base.html.twig' %}

{% block title %}Decaisement index
{% endblock %}

{% block body %}
	<h1>Decaisement index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Montant</th>
				<th>Frais</th>
				<th>Jour</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for decaisement in decaisements %}
				<tr>
					<td>{{ decaisement.id }}</td>
					<td>{{ decaisement.montant }}</td>
					<td>{{ decaisement.frais }}</td>
					<td>{{ decaisement.jour ? decaisement.jour|date('Y-m-d') : '' }}</td>
					<td>{{ decaisement.createdAt ? decaisement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ decaisement.updatedAt ? decaisement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('decaisement_show', {'id': decaisement.id}) }}">show</a>
						<a href="{{ path('decaisement_edit', {'id': decaisement.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <a href="{{ path('decaisement_new') }}">Create new</a> #}
{% endblock %}
