{% extends 'base.html.twig' %}

{% block title %}Decaisement{% endblock %}

{% block body %}
    <h1>Decaisement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ decaisement.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ decaisement.montant }}</td>
            </tr>
            <tr>
                <th>Frais</th>
                <td>{{ decaisement.frais }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ decaisement.jour ? decaisement.jour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ decaisement.createdAt ? decaisement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ decaisement.updatedAt ? decaisement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('decaisement_index') }}">back to list</a>

    <a href="{{ path('decaisement_edit', {'id': decaisement.id}) }}">edit</a>

    {{ include('decaisement/_delete_form.html.twig') }}
{% endblock %}
