<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta content="Responsive admin theme build on top of Bootstrap 4" name="description"/>
		<meta content="Themesbrand" name="author"/>
		<link rel="shortcut icon" href="{{asset('images/favicon.ico')}}">
		<link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/metismenu.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css">
		<link href="{{asset('assets/css/style.css')}}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`  and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>
		{% include ("includes/_nav.html.twig") %}
		{% block body %}{% endblock %}
		{% include ("includes/_footer.html.twig") %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>

</html>
