{% extends 'base.html.twig' %}

{% block title %}Flash{% endblock %}

{% block body %}
    <h1>Flash</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flash.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ flash.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ flash.createdAt ? flash.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ flash.updatedAt ? flash.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('flash_index') }}">back to list</a>

    <a href="{{ path('flash_edit', {'id': flash.id}) }}">edit</a>

    {{ include('flash/_delete_form.html.twig') }}
{% endblock %}
