{% extends 'baseAdmin.html.twig' %}

{% block title %}Depense index
{% endblock %}

{% block body %}
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Administration</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Vous être dans Produits</li>
							</ol>
						</div>
						<div class="col-sm-3">
							<a class="btn btn-primary" href="{{ path('depense_new') }}">Ajouter un produit</a>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h4 class="mt-0 header-title">Commande</h4>
										<p class="text-muted mb-4">
											Liste des commandes en attente
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col">
										{% for message in app.flashes('success') %}
											<div class="alert alert-success">
												{{ message }}
											</div>
										{% endfor %}
										{% for message in app.flashes('info') %}
											<div class="alert alert-info">
												{{ message }}
											</div>
										{% endfor %}
										{% for message in app.flashes('danger') %}
											<div class="alert alert-danger">
												{{ message }}
											</div>
										{% endfor %}
										{% for message in app.flashes('warning') %}
											<div class="alert alert-warning">
												{{ message }}
											</div>
										{% endfor %}
										<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
											<thead>
												<tr>
													<th scope="col">Id</th> 
													<th scope="col">Voir</th>
													<th scope="col">Etat</th>
													<th scope="col">Montant remise</th>
													<th scope="col">Montant du project</th>
													<th scope="col">actions</th>
												</tr>
											</thead>
											<tbody>
												{% for depense in depenses %}
													<tr>
														<th scope="row">{{ depense.id }}</th> 
														<td>
															<a href="{{ path('depense_show', {'id': depense.id}) }}" class="btn btn-warning">Voir le project</a>

														</td>
														<td>
															{% if depense.etat == 1 %}
																<p class="text-info">En cours de traitement...</p>
															{% elseif depense.etat == 2 %}
																<p class="text-danger">Terminer</p>
															{% elseif depense.etat == 3 %}
																Historique
															{% else %}
																<strong class="text-info">En attent</strong>
															{% endif %}
														</td>
														<td>{{ depense.montanpaye }}</td>
														<td>{{ depense.montant }}</td>
														<td>
															<div class="custom-control custom-switch">
																{% if depense.etat ==1 %}
																	<input type="checkbox" class="custom-control-input" disabled id="customSwitch2" checked>
																	<label class="custom-control-label" for="customSwitch2">Accepter</label>
																{% elseif depense.rejeter %}
																	<input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
																	<label class="custom-control-label text-warning" for="customSwitch2">Refuser</label>
																{% else %}
																	<a href="{{ path('depense_confirme', {'id': depense.id}) }}" class="btn btn-primary">accepter</a>
																	<a href="{{ path('reject_project_reject', {'id': depense.id}) }}" class="btn btn-danger">Rejeter</a>
																{% endif %}
																{# <a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a> #}
															</div>

														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="9">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script>
		window.onload = () => {
let confirmer = document.querySelectorAll("[type=checkbox]")
for (let bouton of confirmer) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;
xmlhttp.open("get", `admin/depense/confirme/presi/${
this.dataset.id
}`)
xmlhttp.send()
})
}
}
	</script>
{% endblock %}
