{% extends 'baseAdmin.html.twig' %}

{% block title %}Depense index
{% endblock %}

{% block body %}
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Administration</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Vous être dans Produits</li>
							</ol>
						</div>
						<div class="col-sm-3">
							<a class="btn btn-primary" href="{{ path('depense_new') }}">Ajouter un produit</a>
						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h4 class="mt-0 header-title">Commande</h4>
										<p class="text-muted mb-4">
											Liste des commandes en attente
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col">
										{% for message in app.flashes('success') %}
											<div class="alert alert-success">
												{{ message }}
											</div>
										{% endfor %}
										{% for message in app.flashes('info') %}
											<div class="alert alert-info">
												{{ message }}
											</div>
										{% endfor %}
										{% for message in app.flashes('danger') %}
											<div class="alert alert-danger">
												{{ message }}
											</div>
										{% endfor %}
										{% for message in app.flashes('warning') %}
											<div class="alert alert-warning">
												{{ message }}
											</div>
										{% endfor %}
										<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
											<thead>
												<tr>
													<th scope="col">Id</th>
													<th scope="col">Titre</th>
													<th scope="col">Etat</th>
													<th scope="col">Montant</th>
													<th scope="col">Montant payé</th>
													<th scope="col">Montant restant</th>
													<th scope="col">actions</th>
												</tr>
											</thead>
											<tbody>
												{% for depense in depenses %}
													<tr>
														<th scope="row">{{ depense.id }}</th>
														<td>
															{% if depense.etat == 1 %}
																<a href="{{ path('depense_show', {'id': depense.id}) }}" class="btn btn-success">{{ depense.titre }}</a>
															{% else %}
																{% if depense.rejeter %}
																<a href="{{ path('depense_show', {'id': depense.id}) }}" class="btn btn-success">Voir le project</a>
																	{% elseif depense.confirme == 1 and depense.etat == 0 and depense.rejeter == null %}
																		{{ depense.titre }}

																	{% else %}
																		<a href="{{ path('depense_show', {'id': depense.id}) }}" class="btn btn-success">Voir le project</a>
																		
																{% endif %}
															{% endif %}
														</td>
														<td>
															{% if depense.confirme == 0 and depense.rejeter == 0 %}
																<p class="text-info">En cours ...</p>
															{% elseif depense.confirme == 1 and depense.etat == 0 and depense.rejeter == null %}
																<p class="text-info">Traitement en cours ...</p>
															{% elseif depense.rejeter == 1 %}
																<strong class="text-danger">Rejeter par president</strong>
															{% elseif depense.etat == 1 %}
																<p class="text-success">Decaissement ...</p>
															{% elseif depense.etat == 2 %}
																Terminer
															{% elseif depense.etat == 3 %}
																Historique
																{% else %}

															{% endif %}
														</td>
														<td>{{ depense.montant }}</td>
														<td>{{ depense.montanpaye }}</td>
														<td>{{depense.montant - depense.montanpaye }}</td>
														<td>
															{% if depense.etat == 1 %}
																<a href="{{ path('decaisement_new', {'id': depense.id}) }}" class="btn btn-primary">Ajouter le montant</a>

															{% else %}
																{% if depense.rejeter %}
																	<a href="{{ path('depense_renvoyer', {'id': depense.id}) }}" class="btn btn-warning">Reenvoyer</a>
																	<a href="{{ path('depense_lever', {'id': depense.id}) }}" class="btn btn-danger">En lever</a>
																{% elseif depense.confirme == 1 and depense.etat == 0 and depense.rejeter == null %}
																	<a href="{{ path('depense_show', {'id': depense.id}) }}" class="btn btn-success">Voir le project</a>
																{% else %}
																	<a href="{{ path('depense_accepter', {'id': depense.id}) }}" class="btn btn-info">Envoyer au président</a>

																{% endif %}

															{% endif %}
															{# <a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a> #}
														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="9">no records found</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- content -->
		{{ include('includes/_footer_admin.html.twig')}}
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script>
		window.onload = () => {
let confirmer = document.querySelectorAll("[type=checkbox]")
for (let bouton of confirmer) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;
xmlhttp.open("get", `/admin/depense/accepter/${
this.dataset.id
}`)
xmlhttp.send()
})
}
}
	</script>
{% endblock %}
