{% extends 'baseAdmin.html.twig' %}

{% block title %}article index
{% endblock %}

{% block body %}
	<div
		class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<div class="page-title-box">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<h4 class="page-title">Administration</h4>
							<ol
								class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
								<li class="breadcrumb-item active">Bienvenue sur le Tabeau bord</li>
							</ol>
						</div>
						<div class="col-sm-3">
							<a class="btn btn-primary" href="{{ path('article_new') }}">Ajouter une article</a>

						</div>
					</div>
					<!-- end row -->
				</div>
				<!-- end page-title -->
				<!-- end row -->
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.flashes('danger') %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endfor %}
				<div class="row">
					<div class="col">

						<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
							<thead>
								<tr>
									<th>ImageName</th>
									<th>Active</th>
									<th>PublishedAt</th>
									<th>actions</th>
								</tr>
							</thead>
							<tbody>
								{% for article in articles %}
									<tr>
										<td>
											{% if article.imageName %}
												<img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('president_admin')}}" alt="image de {{ article.title }}"/>
											{% else %}
												<img src="{{asset('assets/images/users/user-4.jpg')}}" width="100" height="15" alt="{{ article.title}}"/>
											{% endif %}
										</td>
										<td>
											<input type="checkbox" id="switch{{ article.id}}" switch="bool" {% if article.active %} checked {% endif %} data-id=" {{ article.id}} "/>
											<label for="switch{{ article.id}}" data-on-label="Yes" data-off-label="No"></label>
										</td>
										<td>{{ article.publishedAt ? article.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
										<td>
											<a href="{{ path('article_show', {'id': article.id}) }}">show</a>
											<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="9">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
				<!-- container-fluid -->

			</div>
			<!-- content -->

			<footer class="footer">
				© 2019 Veltrix
				<span class="d-none d-sm-inline-block">
					- Crafted with
					<i class="mdi mdi-heart text-danger"></i>
					by Themesbrand</span>.
			</footer>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script>
			window.onload = () => {
let activer = document.querySelectorAll("[type=checkbox]")
for (let boutton of activer) {
boutton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;
xmlhttp.open("GET", `/admin/article/activation/${
this.dataset.id
}`)
xmlhttp.send()
})
}
}
		</script>
	{% endblock %}
