{% extends 'base.html.twig' %}

{% block title %}MontantAnnuelle index{% endblock %}

{% block body %}
    <h1>MontantAnnuelle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for montant_annuelle in montant_annuelles %}
            <tr>
                <td>{{ montant_annuelle.id }}</td>
                <td>{{ montant_annuelle.montant }}</td>
                <td>
                    <a href="{{ path('montant_annuelle_show', {'id': montant_annuelle.id}) }}">show</a>
                    <a href="{{ path('montant_annuelle_edit', {'id': montant_annuelle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('montant_annuelle_new') }}">Create new</a>
{% endblock %}
