{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Image du candidat</th>
                <td><img src="{{ vich_uploader_asset(candidature, 'imageFile')|imagine_filter('imagecandidat_admin')}}" alt="img"/></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidature.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidature.prenom }}</td>
            </tr>
            <tr>
                <th>MatriculeAjeutchim</th>
                <td>{{ candidature.matriculeAjeutchim }}</td>
            </tr>
            <tr>
                <th>Droit</th>
                <td>{{ candidature.droit }}</td>
            </tr> 
            <tr>
                <th>Voir son Progrmme</th>
                <td><a class="btn btn-warning" href="/images/imageProgramme/{{ candidature.imageProgramme }}" download>
							Télécharger
						</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidature_index') }}">back to list</a>

    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}">edit</a>

    {{ include('candidature/_delete_form.html.twig') }}
{% endblock %}
