{% extends 'base.html.twig' %}

{% block title %}Depense index
{% endblock %}

{% block body %}
	<h1>Depense index</h1>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Titre</th>
				<th scope="col">Confirmer</th>
				<th scope="col">Etat</th>
				<th scope="col">Montant remise</th>
				<th scope="col">Montant du project</th>
				<th scope="col">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for depense in depenses %}
				<tr>
					<th scope="row">{{ depense.id }}</th>
					<td>{{ depense.titre }}</td>
					<td>
						<div class="custom-control custom-switch">
							{% if depense.etat == 2 %}
								<input type="checkbox" class="custom-control-input" disabled id="customSwitch2" checked>
								<label class="custom-control-label" for="customSwitch2"></label>
							{% elseif depense.montanpaye  %}
								<input type="checkbox" class="custom-control-input" disabled id="customSwitch2" checked>
								<label class="custom-control-label" for="customSwitch2"></label>
							{% elseif depense.etat == 0 %}
								<input type="checkbox" class="custom-control-input" id="confirme{{ depense.id }}" {{(depense.etat == 1 ) ? 'checked' : ''}} data-id="{{ depense.id }}">
								<label class="custom-control-label" for="confirme{{ depense.id }}">{{ depense.etat == 1 ? '' : '' }}</label>
							{% elseif depense.montanpaye == null %}
								<input type="checkbox" class="custom-control-input" disabled id="customSwitch2" checked>
								<label class="custom-control-label" for="customSwitch2"></label>
							{% endif %}

						</div>

					</td>
					<td>
						{% if depense.etat == 1 %}
							<p class="text-info">En cours de traitement...</p>
						{% elseif depense.etat == 2 %}

							<p class="text-danger">Terminer</p>
						{% elseif depense.etat == 3 %}
							Historique
							{% else %}

						{% endif %}
					</td>
					<td>{{ depense.montanpaye }}</td>
					<td>{{ depense.montant }}</td>
					<td>
						<a href="{{ path('depense_show', {'id': depense.id}) }}" class="btn btn-warning">Voir le project</a>
						{# <a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a> #}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script>
		window.onload = () => {
let confirmer = document.querySelectorAll("[type=checkbox]")
for (let bouton of confirmer) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;
xmlhttp.open("get", `/depense/confirme/presi/${
this.dataset.id
}`)
xmlhttp.send()
})
}
}
	</script>
{% endblock %}
