{% extends 'base.html.twig' %}

{% block title %}Depense index
{% endblock %}

{% block body %}
	<h1>Depense index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Confirme</th>
				<th>Etat</th>
				<th>Montant</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for depense in depenses %}
				<tr>
					<td>{{ depense.id }}</td>
					<td>{{ depense.titre }}</td>
					<td>{{ depense.description }}</td>
					<td>
						<div class="custom-control custom-switch">
							<a
								href="{{ path('depense_confirme', {'id': depense.id}) }}" class="confirme">
								{# {% if depense.confirme == true %}
																	<input type="checkbox" class="custom-control-input" id="confirme">
																	<label class="custom-control-label" for="confirme">oui</label>
								
																{% else %}
																	<input type="checkbox" class="custom-control-input" id="confirme">
																	<label class="custom-control-label" for="confirme">Non</label>
																{% endif %} #}
								<input type="checkbox" class="custom-control-input" id="confirme">
								<label class="custom-control-label" for="confirme">{{ depense.confirme ? 'Oui' : 'Non' }}</label>
							</a>
						</div>
					</td>
					<td>{{ depense.etat }}</td>
					<td>{{ depense.montant }}</td>
					<td>{{ depense.createdAt ? depense.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ depense.updatedAt ? depense.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('depense_show', {'id': depense.id}) }}">show</a>
						<a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('depense_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		function onClickConfirme(event) {
event.preventDefault();
const url = this.href;
axios.get(url).then(function (response) {
console.log(response);
})
}
document.querySelectorAll('a.confirme').forEach(function (link) {
link.addEventListener("click", onClickConfirme);
})
	</script>
{% endblock %}
